header {
    background: lightgrey;
    padding: 20px 0;
}

nav {
    position: absolute;
    top: 80px;
    right: 0;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: red;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
.character {
    width: 200px;
    height: 200px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: red;
    zoom: 1.1;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos p {
    margin-top: 20px;
    font-style: italic;
}

.produtos h2 {
    font-size:30px;
    font-weight: bold;
}

footer {
    text-align: center;
    background: url(../media/background2.jpeg);
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

footer p{
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
    display: inline-block;
}

main {
    position: static;
    height: 380px;
    background: url(media/background2.jpeg) repeat;
}

main h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
}

main p {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

#about {
    position: absolute;
    right: 0 !important;
}

#fundo {
    height: 100%;
    width: 100%;
}